<div>
    <search>
        <input type="text" name="name" placeholder="{{ localize 'compendium-browser-bf.Tabs.AllItems' }}..."
               value="{{ name }}">
        <ul class="unlist controls">
            <li>
                <button type="button" class="unbutton filter-control" data-action="clearName"
                        data-tooltip aria-label="Clear Search">
                    <i class="fa-solid fa-xmark" inert></i>
                </button>
            </li>
        </ul>
    </search>
</div>
