<div class="mode-toggle">
    {{#if showModeToggle}}
    <label class="switch">
        <input type="checkbox" data-action="toggleMode" {{ checked isAdvanced }}>
        <span class="slider"></span>
        <span class="mode-label">{{ localize "compendium-browser-bf.Mode.Advanced" }}</span>
    </label>
    {{/if}}
</div>
